{% extends 'students/base.html' %}

{% block content %}
<h1>{{ st.last_name }} {{ st.first_name }} {{ st.middle_name }}</h1>

{% if st.photo %}
    <p><img src="{{ st.photo.url }}" alt="Student photo"></p>
{% endif %}

<p>Дата Рождения: {{ st.birth_date }}</p>
<p>email: {{ st.email }}</p>
<p>Группа: {{ st.group }}</p>
<p>Запись добавлена: {{st.created_at | date:"d E Y" }}</p>
<br>
{% if auth %}
<p class="warning"><a href="{% url 'delete_student' st.id %}">Удалить студента</a></p>
<p><a href="{% url 'update_student' st.id %}">Изменить студента</a></p>
{% endif %}
{% endblock %}